<%- include("../cabecalho") %>

<form method="POST">
	<input type="hidden" id="CPF_Responsavel" name="CPF_Oportunidade" value="<%= Regional.CPF_Responsavel %>" />

	<div>
		<label for="Nome_Responsavel">Nome</label>
		<input type="text" id="Nome_Responsavel" name="Nome_Responsavel" value="<%= Regional.Nome_Responsavel %>" />
	</div>

	<div>
		<label for="Email_Responsavel">E-mail</label>
		<input type="text" id="Email_Responsavel" name="Email_Responsavel" value="<%= Regional.Email_Responsavel %>" />
	</div>

	<div>
		<label for="Celular_Responsavel">Celular</label>
		<input type="text" id="Celular_Responsavel" name="Celular_Responsavel" value="<%= Regional.Celular_Responsavel %>" />
	</div>

	<div>
		<label for="Departamento_Responsavel">Departamento</label>
		<input type="text" id="Departamento_Responsavel" name="Departamento_Responsavel" value="<%= Regional.Departamento_Responsavel %>" />
	</div>

	<div>
		<label for="Funcao_Responsavel">Função</label>
		<input type="text" id="Funcao_Responsavel" name="Funcao_Responsavel" value="<%= Regional.Funcao_Responsavel %>" />
	</div>

	<div>
		<label for="Empresa_Responsavel">Empresa</label>
		<input type="text" id="Empresa_Responsavel" name="Empresa_Responsavel" value="<%= Regional.Empresa_Responsavel %>" />
	</div>

	<button type="submit">Alterar Perfil</button>
</form>

<a href="/regionalPerfil/index">Voltar</a>

<%- include("../rodape") %>
