<%- include("../cabecalho") %>
<!--
<div>
	<a href="/funcionarios/listar?ordenar=nome">LISTAR POR NOME</a> |
	<a href="/funcionarios/listar?ordenar=email">LISTAR POR EMAIL</a> |
	<a href="/funcionarios/listar?ordenar=id">LISTAR POR ID</a>
</div>
-->
<br />

<div id="Oportunidade">
	<% for (const Oportunidade of model) { %>
		
	<p <%- if (Oportunidade.Id_Oportunidade > 5) { %> style="background-color: #cecece" <% } %> <% if (Oportunidade.Id_Oportunidade <= 5) { %> style="background-color: #ff0" <% } %>>
		<%= Oportunidade.Id_Oportunidade %> : <%= Oportunidade.Data_Oportunidade %> - <%= Oportunidade.Servico %> - <%= Oportunidade.Titulo %> - <%= Oportunidade.Escopo %> - <%= Oportunidade.Data_Inicio %> - <%= Oportunidade.Data_Fim %> - <%= Oportunidade.Status %> - <%= Oportunidade.Estado %> - <%= Pessoa.Cidade %> - <%= Oportunidade.Nome_Obra %> <%= Oportunidade.Endereco %> |
		<a href="/regionalPerfil/alterarOportunidade?Id_Oportunidade=<%= Oportunidade.Id_Oportunidade %>">Alterar Oportunidade</a> |
		<a href="/regionalPerfil/remover?Id_Oportunidade=<%= Oportunidade.Id_Oportunidade %>">Remover</a>
		<a href="/regionalPerfil/interessados?Id_Oportunidade=<%= Oportunidade.Id_Oportunidade %>">Ver Interessados</a>
	</p>
	<% } %>
</div>

<%- include("../rodape") %>