<!-- Adicionando sidebar e header na versão contratante -->
<%- include("../structures/menuContratante.ejs") %>
<!-- Importando css -->
<head>
    <link rel="stylesheet" href="/frontend/views/css/perfil_contratante.css">
</head>
<!-- Form de alteração de oportunidade -->
		<form method="POST" class="modal_postagem" action="/regionalPerfil/alterarOportunidade">
			<input type="hidden" name="ID_Oportunidade" value="<%= Oportunidade.ID_Oportunidade %>" />
			<input type="hidden" name="ID_Contratante" value="<%= Oportunidade.ID_Contratante %>" />

			<div>
				<label for="Data_Oportunidade">Data de Criação:</label>
				<input type="text" id="Data_Oportunidade" name="Data_Oportunidade" value="<%= Oportunidade.Data_Oportunidade %>" />
			</div>

			<div>
				<label for="Servico">Serviço</label>
				<input type="text" id="Servico" name="Servico" value="<%= Oportunidade.Servico %>" />
			</div>

			<div>
				<label for="Titulo">Titulo</label>
				<input type="text" id="Titulo" name="Titulo" value="<%= Oportunidade.Titulo %>" />
			</div>

			<div>
				<label for="Descricao">Descricao</label>
				<input type="text" id="Descricao" name="Descricao" value="<%= Oportunidade.Descricao %>" />
			</div>

			<div>
				<label for="Data_Inicio">Data Início</label>
				<input type="text" id="Data_Inicio" name="Data_Inicio" value="<%= Oportunidade.Data_Inicio %>" />
			</div>

			<div>
				<label for="Data_Fim">Data Fim</label>
				<input type="text" id="Data_Fim" name="Data_Fim" value="<%= Oportunidade.Data_Fim %>" />
			</div>

			<div>
				<label for="Estado">Estado</label>
				<input type="text" id="Estado" name="Estado" value="<%= Oportunidade.Estado %>" />
			</div>

			<div>
				<label for="Cidade">Cidade</label>
				<input type="text" id="Cidade" name="Cidade" value="<%= Oportunidade.Cidade %>" />
			</div>

			<button type="submit">Salvar Alterações</button>
			<a href="/regionalPerfil?id=<%= id %>">VOLTAR</a>
		</form>
	</div>
</div>

</body>

</html>
