<%- include("../structures/menuContratante.ejs") %>

<head>
    <link rel="stylesheet" href="/frontend/views/css/perfil_contratante.css">
</head>
		<div class="botoes-oportunidade">
			<a 	href="/regionalPerfil?id=<%= id %>"><button id="botoes-oportunidade">Voltar</button></a>
		</div>
		<div id="Oportunidade">
			<% for (const Oportunidade of model) { %>
				<div class="box-oportunidade">
					<div id="Oportunidade" class="box-titulo">
						<%= Oportunidade.Titulo %>
					</div>
					<div class="box-infos-oportunidade">
						<div class="box-info-cadastrais">
							ID: <%= Oportunidade.Id_Oportunidade %> <br>
							Data Oportunidade: <%= Oportunidade.Data_Oportunidade %> <br>
							Serviço: <%= Oportunidade.Servico %><br>
							Data Início: <%= Oportunidade.Data_Inicio %> <br>
							Data Fim: <%= Oportunidade.Data_Fim %> <br>
							Estado: <%= Oportunidade.Estado %> <br>
							Cidade: <%= Oportunidade.Cidade %> <br>
						</div>
						<div class="box-informacao-escopo">
							Escopo: <%= Oportunidade.Descricao %>
						</div>
					</div>
					<div class="botoes-oportunidade">
						<a href="/regionalPerfil/alterarOportunidade?id=<%= id %>&id_oportunidade=<%= Oportunidade.ID_Oportunidade %>"><button id="botoes-oportunidade">Alterar Oportunidade</button></a>
						<a href="/regionalPerfil/remover?id=<%= id %>&id_oportunidade=<%= Oportunidade.ID_Oportunidade %>"><button id="botoes-oportunidade">Remover Oportunidade</button></a>
					</div>
				</div>
				<p>
					<input type="hidden" id="ID_Contratante" name="ID_Contratante" value="<%= id %>" />
				</p>
			<% } %>
		</div>

    </div>
</div>
</body>
</html>