<%- include("../structures/menu.ejs") %>
<!--
<div>
	<a href="/funcionarios/listar?ordenar=nome">LISTAR POR NOME</a> |
	<a href="/funcionarios/listar?ordenar=email">LISTAR POR EMAIL</a> |
	<a href="/funcionarios/listar?ordenar=id">LISTAR POR ID</a>
</div>
-->
<p>
	<input type="hidden" id="ID_Contratante" name="ID_Contratante" value="<%= model.ID_Contratante %>" />
    <a 	href="/regionalPerfil?id=<%= model.ID_Contratante %>">Voltar</a> | 
</p>

<div id="Oportunidade">
	<% for (const Oportunidade of model) { %>
		<%= Oportunidade.Id_Oportunidade %> : <%= Oportunidade.Data_Oportunidade %> - <%= Oportunidade.Servico %> - <%= Oportunidade.Titulo %> - <%= Oportunidade.Descricao %> - <%= Oportunidade.Data_Inicio %> - <%= Oportunidade.Data_Fim %> - <%= Oportunidade.Status %> - <%= Oportunidade.Estado %> - <%= Oportunidade.Cidade %> - <%= Oportunidade.Nome_Obra %> <%= Oportunidade.Endereco %> |
		<a href="/regionalPerfil/alterarOportunidade?id=<%= id %>&id_oportunidade=<%= Oportunidade.ID_Oportunidade %>">Alterar Oportunidade</a> |
		<a href="/regionalPerfil/remover?id=<%= id %>&id_oportunidade=<%= Oportunidade.ID_Oportunidade %>">Remover</a>
		<a href="/regionalPerfil/interessados?id=<%= id %>&id_oportunidade=<%= Oportunidade.ID_Oportunidade %>">Ver Interessados</a>
		<br>
	<% } %>
</div>

<p>
	<input type="hidden" id="ID_Contratante" name="ID_Contratante" value="<%= id %>" />
    <a 	href="/regionalPerfil?id=<%= id %>">Voltar</a> | <%= id %>
</p>

